
body {
    margin: 0;
    font-family: Arial, sans-serif; 
}

header {
    background-color: #2980b9; 
    opacity: 0.7;
    color: whitesmoke;
    padding: 20px;
    text-align: center;
    border-radius: 10px 10px 0 0;

    box-shadow: 
        0px 10px 15px rgba(0, 0, 0, 0.05), /* Sombra grande y muy transparente */
        0px 4px 6px rgba(0, 0, 0, 0.05);   /* Sombra pequeña y un pelín más marcada */
    
    /* Opcional: Si quieres que el header se quede fijo arriba al hacer scroll */
    position: sticky;
    top: 0;
    z-index: 1000;
}
nav {
    background-color: gray; 
    opacity: 0.7;
    padding: 10px;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 10px 10px;
    position: sticky;
    top: 120px;
    z-index: 999;
    
}
.ElementoLista {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}
.hero {
    display: flex; /* Esto pone el texto y la foto en la misma línea */
    align-items: center; /* Centra ambos elementos verticalmente */
    justify-content: space-around; /* Reparte el espacio de forma equilibrada */
    padding: 60px 20px;
    background-color: #f4f6f9; 
    min-height: 70vh; 
    margin-bottom: 20px;
}


.hero-texto h1 {
    font-size: 3rem;
    color: #2c3e50; /* Un azul marino oscuro, más elegante que el negro puro */
    margin-bottom: 15px;
    margin-top: 0;
}

.hero-texto p {
    max-width: 500px;
    font-size: 1.2rem;
    color: #555555;
    margin-bottom: 30px;
    line-height: 1.5;
}

.hero-boton {
    display: inline-block;
    margin-bottom: 20px;
    background-color: #3498db;
    color: white;
    padding: 12px 25px;
    border-radius: 5px; 
    font-weight: bold;
}

.hero-boton:hover {
    background-color: #2980b9;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.1);
}

.hero-imagen img {
    width: 300px;
    height: 300px;
    border-radius: 50%; 
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.1);
}
