/* ESTILO DE MI PAGINA */
:root {
    --color-primario: #3498db;          
    --color-primario-hover: #2980b9;    
    --color-cabecera: #297fb9dc;        
    --color-titulos: #2c3e50;           
    --color-textos: #555555;            
    --bg-body: #dcecf70a;               
    --bg-secciones: #f4f6f9;           
    --blanco: #ffffff;
    --fuente-principal: Arial, sans-serif;
}
/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* BODY */
body {
   font-family: var(--fuente-principal);
    background-color: var(--bg-body);
}
/* HEADER */
header {
    background-color: var(--color-cabecera);
    opacity: 0.95;
    color: whitesmoke;
    padding: 20px;
    text-align: center;
    border-radius: 10px 10px 0 0;
    box-shadow: 
        0px 10px 15px rgba(0, 0, 0, 0.05), 
        0px 4px 6px rgba(0, 0, 0, 0.05);  
    position: sticky;
    top: 0;
    z-index: 1000;
}
/* NAV */
nav {
    display: flex;
    background-color: gray; 
    opacity: 0.5;
    padding: 10px;
    color: var(--blanco);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 10px 10px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    
}

.nav-lista{
    list-style: none;
    display: flex;
    gap: 20px; 
    margin: 0;
    padding: 0;
    
}
.ElementoLista {
    color: var(--blanco);
    margin: 10px;
    font-weight: bold;
    text-decoration: none;
    padding: 8px 15px;
}
/* SECCION HERO */
.hero {
    display: flex; 
    align-items: center; 
    justify-content: space-around; 
    padding: 60px 20px;
    background-color:var(--bg-secciones); 
    min-height: 70vh; 
    margin-bottom: 20px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
}

.hero-texto h1 {
    font-size: 3rem;
    color: var(--color-titulos); 
    margin-bottom: 15px;
    margin-top: 0;
}

.hero-texto p {
    max-width: 500px;
    font-size: 1.2rem;
    color: var(--color-textos);
    margin-bottom: 30px;
    line-height: 1.5;
}

.hero-boton {
    display: inline-block;
    margin-bottom: 20px;
    background-color: var(--color-primario);
    color: var(--blanco);
    padding: 12px 25px;
    border-radius: 5px; 
    font-weight: bold;
    text-decoration: none;
}

.hero-boton:hover {
    background-color: var(--color-primario-hover);
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.1);
}

.hero-imagen img {
    width: 300px;
    height: 300px;
    border-radius: 50%; 
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.1);
}
/* SECCION SOBRE MI */
.seccion-sobremi {
    padding: 50px 20px;
    text-align: center;
}

.seccion-sobremi h2{
     font-size: 2.5rem;
    color: var(--color-titulos);
    margin-bottom: 30px;
}

.seccion-sobremi p{
    margin: 0; 
    color: var(--color-textos);
    line-height: 1.5;

}
.tarjeta-sobremi {
    background-color: var(--bg-secciones);
    border-radius: 10px;
    overflow: hidden; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

/* SECCION PORTFOLIO */

.seccion-portfolio h2 {
    font-size: 2.5rem;
    color: var(--color-titulos);
    margin-bottom: 30px;
}

.seccion-portfolio {
    padding: 50px 20px;
    text-align: center;
}

.grid-proyectos {
    display: grid;
    grid-template-columns:repeat(4, 1fr); 
    gap: 25px; 
    margin-top: 30px;
    align-items: start;
    justify-content: center;
}

.enlace-card {
    text-decoration: none;
    color: inherit;
    display: block;
}

.proyecto {
    background-color: var(--blanco);
    border-radius: 10px;
    overflow: hidden; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 0 auto;
    max-width: 350px;
    height: 100%;
}

.proyecto img {
    width: 100%;
    height: 180px; 
}

.info-proyecto {
    padding: 20px;
    text-align: center; 
}

.info-proyecto h3 {
    margin: 0;
    font-size: 1.3rem;
    color: var(--color-titulos);
}

.info-proyecto p {
    margin: 0; 
    max-height: 0;
    opacity: 0; 
    overflow: hidden;
    color: var(--color-textos);
    line-height: 1.5;
    transition: max-height 0.4s ease, opacity 0.4s ease, margin-top 0.4s ease;
}

.proyecto:hover {
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15); 
}

.proyecto:hover .info-proyecto p {
    max-height: 250px; 
    opacity: 1; 
    margin-top: 15px; 
}
/* SECCION CONTACTO */
.seccion-contacto {
    padding: 60px 20px;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.seccion-contacto h2 {
    font-size: 2.5rem;
    color: var(--color-titulos);
    margin-bottom: 30px;
}

.formulario {
    width: 100%;
    max-width: 500px; 
    background-color: var(--bg-secciones); 
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05); 
}

.grupo-input {
    display: flex;
    flex-direction: column; 
    margin-bottom: 20px;
}

.grupo-input label {
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

.grupo-input input,
.grupo-input textarea {
    padding: 12px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 1rem;
    font-family: var(--fuente-principal); 
    transition:  0.3s ease; 
}


.grupo-input input:focus,
.grupo-input textarea:focus {
    outline: none; 
    border-color: var(--color-primario);
    box-shadow: 0 0 8px rgba(52, 152, 219, 0.2); 
}


.btn-enviar {
    width: 100%; 
    padding: 15px;
    background-color: var(--color-primario);
    color: var(--blanco);
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer; 
    transition: 0.3s ease;
}

.btn-enviar:hover {
    background-color: var(--color-primario-hover);
}


.footer {
    background-color: var(--color-cabecera); 
    opacity: 0.95;
    color: whitesmoke;
    padding: 20px;
    text-align: center;
    border-radius: 10px 10px 0 0;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
    margin-top: 40px;
}

.social a{
    color: var(--blanco);
    margin: 10px;
    text-decoration: none;
    padding: 8px 15px;
}

@media (max-width: 1024px) {
    .grid-proyectos {
        grid-template-columns: repeat(2, 1fr); 
    }
    .hero {
        flex-direction: column-reverse; 
        text-align: center; 
        padding: 40px 20px;
    }

    .hero-imagen img {
        width: 300px; 
        height: 300px;
        margin-bottom: 25px;
    }
}

@media (max-width: 600px) {
    .grid-proyectos {
        grid-template-columns: 1fr; 
    }
    
    .info-proyecto p {
        max-height: none;
        opacity: 1;
        margin-top: 15px;
    }
}